blinker==1.9.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
Flask==3.1.1
geographiclib==2.0
geopy==2.4.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.3.1
packaging==25.0
pillow==11.2.1
polyline==2.0.2
pyproj==3.7.1
pyxctsk==0.2.0
pyzbar==0.1.9
qrcode==8.2
requests==2.32.4
scipy==1.16.0
urllib3==2.5.0
Werkzeug==3.1.3
