black==25.1.0
blinker==1.9.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
flake8==7.3.0
Flask==3.1.1
geographiclib==2.0
geopy==2.4.1
gunicorn==23.0.0
idna==3.10
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
mypy==1.16.1
mypy_extensions==1.1.0
numpy==2.3.1
packaging==25.0
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.3.8
polyline==2.0.2
pycodestyle==2.14.0
pyflakes==3.4.0
pyproj==3.7.1
pyxctsk==0.2.0
pyzbar==0.1.9
qrcode==8.2
requests==2.32.4
scipy==1.16.0
typing_extensions==4.14.1
urllib3==2.5.0
Werkzeug==3.1.3
